.alert {
    background-color: #f44336;
    color: white;
    position: fixed;
    top: 30%;
    padding-top: 50px;
    width: 400px;
    height: 300px;
    left: 30%;

}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}